﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="event_details.aspx.cs" Inherits="GroupProject.Client_Side.WebForm1" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="../Scripts/jquery-2.2.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#includedHeader").load("header.aspx");
            $("#includedFooter").load("footer.aspx");
        });
        function getTicketPrices() {
            var ticketTypePrice = 40;
            var ticketTypePrice2 = 30;
            var numberTickets = document.getElementById('number_tickets1').value;
            var numberTickets2 = document.getElementById('number_tickets2').value;
            var totalPrice = (numberTickets * ticketTypePrice) + (numberTickets2 * ticketTypePrice2);
            $('#ticket_price_input').val(totalPrice);
        }
    </script>
</head>
<body>
    <div id="includedHeader"></div>
        <div style="clear:both;"></div>
    <div id="contents">
        <div id="left_cont">
            <p id="event_title">Justin Bieber World Tour</p>
            <div class="event_border"></div>
            <img id="event_details_img" src="../Images/tmp_img.jpg" />
            <div id="event_details">
                <p class="details_text">
                    <!--<b>Location:</b>-->Brixton Academy, 211 Stockwell R, London, SW9 9SL<br />
                    <!--<b>Date:</b>--><b>Wednesday 5th October 2016</b> <!--<b>Start:</b>-->19:00<br /><br />
                    <!--<b>Further Details:</b>-->Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="event_border"></div>
            <div id="event_tickets">
                <form id="ticket_form" action="booking.html">
                    <table style="width:100%;">
                        <tr>
                            <td><p class="details_text"><b>Ticket type</b></p></td>
                            <td><p class="details_text"><b>Number of tickets</b></p></td>
                            <td><p class="details_text"><b>Ticket price</b></p></td>
                        </tr>
                        <tr>
                            <td><p class="details_text">Standing</p></td>
                            <td>
                                <select id="number_tickets1" name="num_tickets" onchange="getTicketPrices()">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </td>
                            <td><p class="details_text">£40</p></td>
                        </tr>
                        <tr>
                            <td><p class="details_text">Seating</p></td>
                            <td>
                                <select id="number_tickets2" name="num_tickets2" onchange="getTicketPrices()">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </td>
                            <td><p class="details_text">£30</p></td>
                        </tr>
                    </table>
                    <div id="book_event_cont">
                        <p class="details_text">Total Price:</p><input id='ticket_price_input' type='text' />
                        <!--<input id="book_event" type="submit" name="ticket" value="Book Now" />-->
                    </div>
                </form>
                <!--<button id="book_event_tmp" role="button"></button>-->
            </div>
            <form action="summary.html">
                <div class="booking_sub_cont">
                    <p id="event_title">Your Details</p>
                    <div class="event_border"></div>
                    <div id="details_cont">
                        <p class="sub_title">Your Name:</p>
                        <div style="clear:both;"></div>
                        <input type="text" name="first_name" placeholder="First Name" />
                        <input style="margin-left:20px;" type="text" name="last_name" placeholder="Last Name" />
                        <p class="sub_title">Email Address:</p>
                        <input class="large_input" type="text" name="email_add" placeholder="Email Address" />
                        <input class="large_input" type="text" name="con_email_add" placeholder="Confirm Email Address" />
                    </div>

                </div>
                <div class="booking_sub_cont">
                    <p id="event_title">Payment Details</p>
                    <div class="event_border"></div>
                    <div id="details_cont">
                        <p class="sub_title">Name on Card:</p>
                        <div style="clear:both;"></div>
                        <input class="large_input" type="text" name="first_name" placeholder="Name on card" />
                        <p class="sub_title">Card Number:</p>
                        <input class="large_input" type="text" name="email_add" placeholder="Card Number" />
                        <div style="clear:both;"></div>
                        <div style="float:left;">
                            <p class="sub_title">Expiry Date:</p>
                            <div style="clear:both;"></div>
                            <input class="small_input" type="text" name="con_email_add" placeholder="" />
                        </div>
                        <div style="float:left;margin-left:12%;">
                            <p class="sub_title">Security Number:</p>
                            <div style="clear:both;"></div>
                            <input class="small_input" type="text" name="con_email_add" placeholder="" />
                        </div>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="margin-top:20px;" class="event_border"></div>
                </div>
                <input id="book_submit" type="submit" name="book_ticket" value="Book" />
                    <div style="clear:both;"></div>
            </form>

        </div>
        <div id="right_cont">
            <div id="social_media">
                <p class="header">Social Media</p>
                <a href="#"><img src="../Images/F_icon.png" /></a>
                <a href="#"><img src="../Images/Google+_Icon.png" /></a>
                <a href="#"><img src="../Images/instagram-xxl.png" /></a>
                <a href="#"><img src="../Images/Twitter-icon.png" /></a>
                <a href="#"><img src="../Images/Youtube_Icon.png" /></a>
                <a href="#"><img src="../Images/square-tumblr-512.png" /></a>
            </div>

            <div id="testimonials_main_cont">
                <p class="header">Testimonials</p>
                <div id="first_testimonial" class="testimonial_sub_cont">
                    <p class="sub_header">Test</p>
                    <p>Tmp data</p>
                    <!-- raiting system -->
                    <p class="name">George</p>
                </div>
                <div class="testimonial_sub_cont">
                    <p class="sub_header">Test</p>
                    <p>Tmp data</p>
                    <!-- raiting system -->
                    <p class="name">George</p>
                </div>
            </div>

            <div id="payment_cont">
                <p class="header">Payment Methods</p>
                <img src="../Images/payment.jpg" />
            </div>
        </div>
    </div>
        <div style="clear:both;"></div>
    <div id="includedFooter"></div>
</body>
</html>
