﻿body, p, a {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

p, a {
    font-family: Calibri;
}

/*
    1.0 HEADER 
    2.0 Navigation
    3.0 Footer
    4.0 Home
    5.0 List
    6.0 Event Details
    7.0 Booking Page
    */

/* 1.0 HEADER */
header {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 20px 0 20px 0;
}

a#logo link {
    float: left;
    width: 100%;
    height: auto;
    background-image: url(Images/logo.jpg);
}

#logo img {
    width: 200px;
    height: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#event_find_cont {
    float: right;
    margin-top: 40px;
}

#find_text {
    float: left;
    height: 20px;
}

#find_submit {
    float: left;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    background-image: url(../Images/search_icon.jpg);
    background-size: 100% 100%;
}

#search_border {
    float: left;
    height: 40px;
    margin: -7px 10px 0 10px;
    border-left: #233e68 1px solid;
}

a#find_event:link, a#find_event:visited {
    float: left;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #233e68;
    text-decoration: none;
}

a#find_event:hover a#find_event:active {
    background-color: #34b166;
}

/* 2.0 Navigation */
#main_menu {
    float: left;
    width: 100%;
    height: 30px;
    background-color: #233e68;
}

#main_menu nav {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    line-height: 30px;
    position: relative;
}

#main_menu #home {
    border-left: #fff 1px solid;
}

#main_menu a:link, #main_menu a:visited {
    float: left;
    width: 12%;
    padding: 0 0px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border-right: #fff 1px solid;
    text-decoration: none;
}

#main_menu a:hover, #main_menu a:active {
    background-color: #1b2f4e;
}

#main_menu .wrapper {
    float: left;
    position: relative;
    width: calc(12% - 1px);
    margin-left:1px;
}

#main_menu .wrapper a {
    width: 100%;
}

ul.menu_dropdown {
    display: none;
    float: left;
    width: 150px;
    height: auto;
    padding: 0px 0 0 0;
    position: absolute;
    top: 14px;
    left: -1px;
    z-index: 10;
    background-color: #1b2f4e;
}

.menu_dropdown li {
    float: left;
    width: 100%;
    margin-top: 0px;
    list-style: none;
}

#main_menu .menu_dropdown a:link, #main_menu .menu_dropdown a:visited {
    width: 100%;
    color: #fff;
    line-height: 30px;
    text-indent:10px;
    text-align: left;
    text-decoration: none;
    border-right: none;
    padding: 0;
}

#main_menu .menu_dropdown a:hover, #main_menu .menu_dropdown a:active {
    padding: 0;
    background-color: #6fd28a;
}

a#music:hover + ul#music_drop, ul#music_drop:hover, a#sport:hover + ul#sport_drop, ul#sport_drop:hover, a#comedy:hover + ul#comedy_drop, ul#comedy_drop:hover, a#theatre:hover + ul#theatre_drop, ul#theatre_drop:hover {
    display: inline-block;
}
/* 3.0 Footer */
.footer_header {
    font-weight: bold;
    font-size: 20px;
}

footer {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 20px 0 20px 0;
    background-color: #233e68;
    border-top:#6fd28a 10px solid;
}

    footer p {
        color: #fff;
        font-size: 14px;
    }

    footer a:link, footer a:visited {
        color: #fff;
        text-decoration: underline;
    }

    footer a:hover, footer a:active {
        color: #34b166;
    }

#footer_cont {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: auto;
}

#footer_section1 {
    float: left;
    width: 25%;
    max-width: 250px;
    height: auto;
}
    #footer_section1 ul {
        float:left;
        list-style:none;
        padding:0 0 0 0;
        margin:0 0 0 0;
    }

    #footer_section1 li  a:link, #footer_section1 li  a:visited {
        text-decoration: none;
    }

    #footer_section1 li  a:hover, #footer_section1 li  a:active {
    }
#footer_section2 {
    float: left;
    width: 25%;
    max-width: 250px;
    height: auto;
    margin-left:5%;
}

/* 4.0 Home (right and left containers) */
#contents {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: auto;
}

#left_cont {
    float: left;
    width: 100%;
    max-width: calc(75% - 20px);
    height: auto;
    padding: 20px 20px 0 0;
}

#right_cont {
    float: left;
    width: 100%;
    max-width: 25%;
    height: auto;
    padding: 20px 0px 0 0;
}

.sub_menu {
    float: left;
    width: 100%;
    max-width: calc(33.33% - 10px);
    height: auto;
    padding-left: 10px;
    position: relative;
    overflow: hidden;
}

    .sub_menu img {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .sub_menu a:link, .sub_menu a:visited, .sub_menu a:active {
        float: left;
        display: block;
        width: 100%;
        height: auto;
        line-height: 30px;
        text-align: left;
        color: #fff;
        font-size: 16px;
    }

    .sub_menu a:hover > .sub_menu_span {
        background-color: #6fd28a;
    }

.sub_menu_span {
    width: 100%;
    text-indent: 10px;
    background-color: #1b2f4e;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

#social_media {
    float: left;
    width: 100%;
    height: auto;
    /*border:#233e68 1px solid;*/
}

    #social_media .header {
        float: left;
        display: block;
        width: 100%;
        text-indent: 10px;
        line-height: 20px;
        color: #fff;
        font-size: 16px;
        background-color: #233e68;
        border-radius: 5px;
    }

    #social_media img {
        float: left;
        width: 100%;
        max-width: 30px;
        height: 30px;
        margin: 10px 0 0 10px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

#testimonials_main_cont {
    float: left;
    width: 100%;
    height: auto;
    border: #233e68 1px solid;
    border-radius: 5px;
    margin-top: 20px;
}

    #testimonials_main_cont .header {
        float: left;
        display: block;
        width: 100%;
        text-indent: 10px;
        line-height: 20px;
        color: #fff;
        font-size: 16px;
        background-color: #233e68;
    }

.testimonial_sub_cont {
    width: 100%;
    max-width: calc(100% - 40px);
    height: auto;
    border-top: #233e68 1px solid;
    padding: 10px;
    margin: auto;
}

    .testimonial_sub_cont p {
        text-align: left;
        color: #233e68;
        font-size: 14px;
    }

    .testimonial_sub_cont .sub_header {
        font-size: 16px;
        font-weight: bold;
    }

    .testimonial_sub_cont .name {
        font-size: 12px;
        text-align: right;
    }

#first_testimonial {
    border-top: none;
    margin-top: 10px;
}

#payment_cont {
    float: left;
    width: 100%;
    height: auto;
    border: #233e68 1px solid;
    border-radius: 5px;
    margin-top: 20px;
}

    #payment_cont .header {
        float: left;
        display: block;
        width: 100%;
        text-indent: 10px;
        line-height: 20px;
        color: #fff;
        font-size: 16px;
        background-color: #233e68;
    }

    #payment_cont img {
        float: left;
        width: calc(100% - 20px);
        height: auto;
        padding: 10px;
        pointer-events: none;
    }

/* 5.0 List */

#filter_cont {
    float: left;
    width: 100%;
    max-width: 25%;
    height: auto;
}

#list_filter {
    float: left;
    width: 100%;
    height: auto;
    border: #233e68 1px solid;
    border-radius: 5px;
    margin-top: 20px;
    position:relative;
}

    #list_filter .header {
        float: left;
        display: block;
        width: 100%;
        text-indent: 10px;
        line-height: 20px;
        color: #fff;
        font-size: 16px;
        background-color: #233e68;
        margin-bottom: 10px;
    }

    #list_filter .sub_header {
        float: left;
        color: #000;
        font-size: 16px;
        text-indent: 10px;
        clear: both;
    }

#where_input {
    float: left;
    clear: both;
    margin: 10px 0 10px 20px;
}

#list_filter ul {
    float: left;
    clear: both;
    margin-top: 10px;
    padding-left: 20px;
}

#list_filter li {
    float: left;
    list-style: none;
    clear: both;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#filter_submit {
    float: right;
    width: auto;
    height: auto;
    line-height: 24px;
    font-size: 16px;
    color: #fff;
    padding: 0 15px 0 15px;
    border:none;
    border-radius: 5px;
    background-color: #1b2f4e;
    margin:10px;
    clear:both;
}

#filter_submit:hover {
    background-color: #6fd28a;
}

#list_cont {
    float: left;
    width: 100%;
    max-width: calc(75% - 20px);
    padding-left: 20px;
    height: auto;
}

.list_item {
    float: left;
    width: 100%;
    height: auto;
    max-height: 150px;
    border: #233e68 1px solid;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
}

    .list_item img {
        float: left;
        width: auto;
        height: auto;
        max-height: 130px;
        margin: 10px;
    }
    
    .sub_menu a:hover > .sub_menu_span {
        background-color: #6fd28a;
    }
    /*.event_img img:hover > a.view_event:link{
        width:400px;
        background-color: #6fd28a;
    }*/

.item_text {
    float: left;
}

    .item_text .header {
        color: #000;
        font-size: 18px;
        font-weight: bold;
    }

alist_item_link:link, 

p.view_event{
    float: left;
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    background-color: #1b2f4e;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

p.view_event:hover{
    background-color: #6fd28a;
}
/*a.view_event:link, a.view_event:visited {
    float: left;
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    background-color: #1b2f4e;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
}

a.view_event:hover, a.view_event:active {
    background-color: #6fd28a;
}*/

#date_cont {
    float:left;
    width:auto;
    height:auto;
    margin-left:7%;
    clear:both;
}
/* 6.0 Event Details */

#event_title {
    float: left;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.details_text {
    float:left;
    color: #000;
    font-size: 18px;
}

.event_border {
    float: left;
    border-top: #000 1px solid;
    width: 100%;
    height: 1px;
}

#event_details_img {
    float: left;
    width: 100%;
    height: auto;
    max-width: 30%;
    margin: 10px 0 10px 0;
    pointer-events: none;
}

#event_details {
    float: left;
    width: 100%;
    max-width: calc(70% - 10px);
    height: auto;
    margin: 10px 0 10px 10px;
}

#event_tickets {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 10px;
}

#book_event_cont {
    float:right;
    margin:10px 10px 0 0;
    line-height:30px;
}

#ticket_price_input{
    float:left;
    width:37px;
    margin-top:7px;
    color: #000;
    font-size: 16px;
    border:none;
    text-align:right;
    pointer-events: none;
}

#book_event{
    float: left;
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    padding: 0 15px 0 15px;
    border:none;
    border-radius: 5px;
    background-color: #233e68;
    margin-left:10px;
}

#book_event:hover{
    background-color: #34b166;
}

/* 7.0 Booking Page */

.booking_sub_cont{
    clear:both;
    float:left;
    width:100%;
    min-height:220px;
    margin-bottom:10px;
}
.booking_sub_cont input{
    float:left;
    font-size:16px;
    line-height:26px;
    border-radius:5px;
    margin-bottom:10px;
}
.booking_sub_cont .sub_title {
    clear:both;
    float:left;
    color:#000;
    font-size:18px;
    font-weight:bold;
}

#booking_ticket_img {
    float:left;
    width: 100%;
    height: auto;
    max-width: 25%;
    margin: 10px 0 10px 0;
    pointer-events: none;
}

#booking_ticket_details {
    float: left;
    width: 100%;
    max-width: calc(75% - 10px);
    height: auto;
    margin: 10px 0 10px 10px;
}

#tickets_table {
    float:left;
    width:100%;
    height:auto;
}

    #tickets_table p {
        font-size: 18px;
    }

    /*.summary #tickets_table tr{
        float:left;
        padding:20px;
        background-color:#e9e9e9;
        border:#000 3px inset;
        border-style:groove;
    }*/

#details_cont{
    clear:both;
    float:none;
    width:52%;
    height:auto;
    margin:auto;
    padding-top:20px;
}

.large_input{
    clear:both;
    width:80%;
}
.small_input{
    width:80px;
}

#book_submit {
    float: right;
    width: auto;
    height: auto;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    padding: 0 25px 0 25px;
    border:none;
    border-radius: 5px;
    background-color: #1b2f4e;
    margin-top:10px;
    margin-right:10px;
    clear:both;
}

#book_submit:hover {
    background-color: #6fd28a;
}